@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(135deg, #153677, #4e085f);
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-app {
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 80px auto 20px auto;
    padding: 40px 30px 70px 30px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 22px;
}

.row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}

.row button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 35px;
}

.row button:hover {
    background: #f34b39;
}

ul li {
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    word-break: break-word;
    padding-right: 50px;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked span {
    text-decoration: none;
}

ul li.checked::before {
    background-image: url(images/checked.png);
    height: 30px;
    width: 30px;
}

ul li span {
    width: 42px;
    height: 42px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    flex-shrink: 0;
}

ul li span:hover {
    background: #edeef0;
    border-radius: 40px;
}

@media screen and (max-width: 430px) {
    .todo-app {
        width: 91%;
        margin: 20px auto;
        padding: 30px 20px;
    }

    .row {
        flex-wrap: nowrap;
        padding-left: 10px;
    }

    .row input {
        min-width: 0;
        margin-right: 10px;
    }

    .row button {
        white-space: nowrap;
        padding: 12px 30px;
        width: 40%;
    }
}